<template>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <router-link to="/" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item">
                <router-link to="/counter" class="nav-link">Counter</router-link>
            </li>
            <li class="nav-item">
                <router-link to="/fetchdata" class="nav-link">Fetch data</router-link>
            </li>
        </ul>
    </nav>

</template>

<!-- <style src="./navmenu.css" /> -->