<template>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <router-link to="/" class="nav-link">
                    <span>登陆</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/Home/counter" class="nav-link">
                    <span>Counter</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/Home/fetchdata" class="nav-link">
                    <span>Fetch data</span>
                </router-link>
            </li>
        </ul>
    </nav>

</template>

<style src="./navmenu.css" />